:root {
    --primary-green: #1fde82;
    --primary-light-gray: #f7faff;
    --primary-dark-gray: #39424e;
    --black-github: #0d1117;
    --green-hackerrank: #1ba94c;
    --blue-twitter: #1da1f2;
    --blue-linkedin: #0a66c2;
}

body {
    margin: 0;
    background-color: var(--primary-light-gray);
}


/*  */

div {
    width: 100%;
    overflow: auto;
}

p {
    width: 200%;
    background: #f5f9fa;
    border: 2px solid #eaf2f4;
    padding: 10px;
}

.scroll-touch {
    /* -webkit-overflow-scrolling: touch; */
    overflow: scroll;
    overflow-x: hidden;
    /* Lets it scroll lazy */
}

.scroll-auto {
    /* -webkit-overflow-scrolling: auto; */
    overflow: scroll;
    overflow-x: hidden;
    /* Stops scrolling immediately */
}